[bumpversion]
commit = True
tag = True
current_version = 0.5.4
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}

[bumpversion:file:setup.py]

[bumpversion:file:bumpversion/__init__.py]

[bumpversion:file:README.rst]
search = **unreleased**
replace = **unreleased**
	**v{new_version}**

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma

